

.card {
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
    border : 0px;
    border-radius: 0px;
    display: inline-block;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.priceOnCard {
    font-size: 15px;
}

.custom-card-body {
    padding: 10px;
}

